@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:400,700,800');

body, html{
    min-height: 97vh;
    margin:0;
    padding: 0;
    font-family: 'Mukta Malar', sans-serif;
}

body{
    background-color: #104891;
    @include filter-gradient(#104891, #281899, horizontal);
    @include background-image(linear-gradient(left bottom, #104891 0%,#281899 100%));
    display:grid;
    grid-template-areas: "aside" 
                         "content";
    grid-template-rows: 100px auto;
    align-items: baseline;
    padding: 10px 10px;
    grid-column-gap: 15px;
    
}

#aside_warper{
    grid-area: aside;
    position:fixed;
    min-width:100vw;
    min-height: 150px;
    z-index: 1;

    

}
aside{
    max-width:80vw; 
    background-color: #9db3d0fc;
    border-radius: 30px;
    border: solid #130960ff 2px;
    color: #052a5aff; 
    margin: 0 auto;
}
#aside_header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    
}
#nav_bar{
   
    padding-left:15px;   
}

#nav_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    font-weight: bold;  
    margin: 0px;
    list-style-type: none;
}

.nal_link{

}

#portrait{
    height:10vh;
    border: solid white 5px;
    border-radius:45%;
}

#content_warper{
    grid-area: content;
    position: relative;
    top:60px;
    min-height: 55vh;
    margin: 0 auto;

}

.content-item{
    min-width:80vw; 
    min-height: 100vh;
    overflow-y: auto;
    color: #9db3d0fc;
    background-color: #130960ff;
    border-radius:30px;
    border: solid #9db3d0fc 2px;
    align-items: center;
   
    
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

h1 {
    text-align: center;
}